body{
    background-color: black;
    color: white
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    clear:both;
    display: block;
}

.topNavBar>nav>ul>li{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid red
}
.topNavBar>nav>ul>li>a{ 
     color: rgba(255, 255, 255, 0.7);
}
.topNavBar>img{
    float: left;
}
.topNavBar>nav>ul{
float: right
}